<h1>Show product</h1>

<p>id: <%= @product.id %></p>
<p>name: <%= @product.name %></p>
<p>price: <%= @product.price %></p>
<p>description: <%= @product.description %></p>
<% if @product.images[0] %>
<p><img src="<%= @product.images[0].url %>"></p>
<% end %>